<main>
  <include src="./section1.html"></include>
  <include src="./section2.html"></include>
  <section>
    <button></button>
    <article>
      <h2></h2>
      <h3></h3>
      <img src="" alt="" />
      <nav>
        <ul>
          <li>
            <a href=""><img src="" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="" alt="" /></a>
          </li>
        </ul>
      </nav>
    </article>
    <section>
      <article>
        <div>
          <img src="" alt="" />
          <h3></h3>
          <img src="" alt="" />
        </div>
        <h4></h4>
        <div>
          <label></label>
          <input type="text" />
          <input type="text" />
          <input type="text" />
        </div>
      </article>
      <article></article>
      <article></article>
    </section>
  </section>
</main>
