<article class="container__main--article">
  <i class="fa fa-object-ungroup icons"></i>
  <h2 class="title">Diseña</h2>
  <!--Checkbox1-->
  <div class="allbox">
    <h3>Colores</h3>
    <div>
      <div class="colors blue">
        <input
          class="check"
          id="method1"
          type="radio"
          value="colors"
          name="methods"
        />
        <div class="box1 box"></div>
        <div class="box2 box"></div>
        <div class="box3 box"></div>
      </div>
      <!--Checkbox2-->
      <div class="colors red">
        <input
          class="check"
          id="method2"
          type="radio"
          value="colors"
          name="methods"
        />
        <div class="box4 box"></div>
        <div class="box5 box"></div>
        <div class="box6 box"></div>
      </div>
      <!--Checkbox3-->
      <div class="colors grey">
        <input
          class="check"
          id="method3"
          type="radio"
          value="colors"
          name="methods"
        />
        <div class="box7 box"></div>
        <div class="box8 box"></div>
        <div class="box9 box"></div>
      </div>
    </div>
  </div>
</article>
