<article class="border">
    <div class="info">
      <i class="fa fa-share-alt info__icons"></i>
      <h2 class="info__formTitle">Comparte</h2>
      <i class="fa fa-angle-up info__rotate js__rotate js__shareRotate"></i>
      <!-- <i class="fa fa-angle-down"></i> -->
    </div>
    <div class="share js__display js__displayNone">
      <i class="fa fa-address-card-o share__icon"></i
      ><input class="share__button" type="submit" value="Crear tarjeta" />
    </div>
  </form>
  </article>