<section class="main-sectionOne">
  <button class="main-sectionOne-btn">
    <i class="fa fa-trash-o" aria-hidden="true"></i>Reset
  </button>
  <div class="main-sectionOne-card">
    <header class="main-sectionOne-card-header">
      <h2 class="main-sectionOne-card-header-name">Barry Allen - Flash</h2>
      <h3 class="main-sectionOne-card-header-job">Super-speed</h3>
    </header>
    <img
      src="./assets/images/Flash.png"
      alt="Photo profile card"
      title="Photo profile card"
    />
    <nav>
      <ul class="main-sectionOne-card-nav">
        <li>
          <a href="#"><i class="fa fa-mobile logos" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"
            ><i class="fa fa-envelope-o logos" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a href="#"
            ><i class="fa fa-linkedin logos" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a href="#"
            ><i class="fa fa-github-alt logos" aria-hidden="true"></i
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</section>
