<section class="sectionOne">
  <button class="sectionOneBtn">
    <i class="fa fa-trash-o sectionOneBtn__logo" aria-hidden="true"></i>Reset
  </button>
  <div class="sectionOneCard">
    <header class="sectionOneCard__header">
      <h2 class="sectionOneCard__header--name" id="js-fullName-card">Barry Allen - Flash</h2>
      <h3 class="sectionOneCard__header--job" id="js-job-card">The Fastest Men Alive</h3>
    </header>
    <!-- <img
      src="./assets/images/Flash.png"
      alt="Photo profile card"
      title="Photo profile card"
    /> -->
    <div class="profile__image js__profile-image" style="background-image:url(./assets/images/Flash.png)"></div>
    <nav>
      <ul class="sectionOneCard__nav">
        <li>
          <a href="tel:" id="js-telephone-link"><i class="fa fa-mobile sectionOneCard__nav--logos"  aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="mailto:" id="js-mail-link"
            ><i class="fa fa-envelope-o sectionOneCard__nav--logos"  aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a href="#" id="js-linkedin-link"
            ><i class="fa fa-linkedin sectionOneCard__nav--logos"  aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a href="#" id="js-github-link"
            ><i class="fa fa-github-alt sectionOneCard__nav--logos"  aria-hidden="true"></i
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</section>
