// PRIMARY COLORS
$colorBrand1: #114e4e;
$colorBrand2: #54585a;
$colorBrand3: #ffffff;
$colorBrand4: #e17334;

// Otra forma
$colorText1: #114e4e;
$colorText2: #54585a;
$colorText3: #ffffff;
$colorIcons4: #e17334;

// SECONDARY COLORS
// $colorBrand5: #438792;
// $colorBrand6: #6b6b6b;
// $colorBrand7: #bfcdd0;
// $colorBrand8: #dde9ed;
// $colorBrand9: #a2deaf;
// $colorBrand10: #00a0f5;

// FONTS
$fontTitle: "Merriweather";
$fontText: "Open Sans";
$fontCard: "Montserrat";
